$lightGray: #eeeeee;
$blue: cornflowerblue;
$lightBlue: #99ccff;
$green: #99cc33;
$hexagon: cornflowerblue;
$wrapperWidth:1024px;

$slideHeight: 450px;
$slideWidth: 1024px;
$arrowHeight:60px;
$arrowWidth: 34px;

$font-primary: Monaco, Merriweather, serif;
$font-secondary: Bree Serif, serif;
$font-title: Monaco;
$font-content: Georgia;

$default-border-radius : 10px;